html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.border {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
  mix-blend-mode: normal;
  max-width: 1170px;
  padding-bottom: 80px;
  margin: 0 auto;
}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  margin-bottom: 80px;
}

.header__top {
  background-image: url(../images/bg-photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 40px;
  margin-bottom: 24px;
}

.header__top-inner {
  display: flex;
  flex-direction: column;
  border: 2px solid #ecb84c;
  border-bottom: none;
  height: 100%;
}

.header__title {
  font-weight: bold;
  font-size: 200px;
  line-height: 227px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.header__text {
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  color: #ffffff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: -12px;
}

.header__text::after,
.header__text::before {
  content: "";
  border-top: 2px solid #ecb84c;
  width: 100%;
}

.header__text::after {
  margin-left: 30px;
}

.header__text::before {
  margin-right: 30px;
}

.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #909090;
  padding: 0 15px 16px;
  border-bottom: 4px solid transparent;
  transition: all 0.3s;
}

.menu__list-item:hover {
  border-bottom: 4px solid #ecb84c;
  color: #4e5665;
}

.resume {
  margin-bottom: 80px;
}

.resume__title {
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #4e5665;
  text-align: center;
  margin-bottom: 22px;
}

.resume__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

.resume__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #ecb84c;
  text-align: right;
  display: block;
  margin-bottom: 36px;
}

.resume__inner {
  display: flex;
  justify-content: space-around;
}

.resume__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
}

.resume__item-content {
  margin-top: auto;
}

.resume__item-num {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #4e5665;
}

.resume__item-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #909090;
}

.info__title {
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #4e5665;
  margin: 80px 0 13px;
}

.info__text {
  font-size: 16px;
  line-height: 28px;
  color: #505050;
  margin-bottom: 72px;
}

.info__box {
  height: 428px;
  position: relative;
  margin-bottom: 100px;
}

.info__card {
  position: absolute;
  width: 470px;
  background-color: #fff;
  padding: 40px;
}

.info__card-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  text-align: left;
  color: #4e5665;
  margin-bottom: 20px;
}

.info__card-text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 28px;
  color: #505050;
  width: 389px;
}

.info__box--right .info__card {
  left: 0;
  top: 70px;
}

.info__box--left .info__card {
  right: 0;
  top: 70px;
}

.info__box--right .info__box-img {
  float: right;
}

.info__box--left .info__box-img {
  float: left;
}

.info__box--right .info__card::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  left: 19px;
  top: 19px;
  border-top: 2px solid #ecb84c;
  border-left: 2px solid #ecb84c;
  background: transparent;
}

.info__box--right .info__card::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  right: 19px;
  bottom: 19px;
  border-bottom: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
  background: transparent;
}

.info__box--left .info__card::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  right: 19px;
  top: 19px;
  border-top: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
  background: transparent;
}

.info__box--left .info__card::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  left: 19px;
  bottom: 19px;
  border-bottom: 2px solid #ecb84c;
  border-left: 2px solid #ecb84c;
  background: transparent;
}

.cadillac {
  margin-bottom: 80px;
  position: relative;
}

.cadillac__title {
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #4e5665;
  margin-bottom: 38px;
}

.cadillac__info {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #505050;
  position: absolute;
  right: 150px;
  top: 0px;
  z-index: 1;
}

.cadillac__info::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 122px;
  background: #ecb84c;
  right: -13px;
  top: 36px;
}

.cadillac__info::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 172px;
  background: #ecb84c;
  right: 83.4px;
  top: 97px;
  transform: rotate(135deg);
}

.cadillac__content {
  width: 1170px;
  height: 408px;
  padding-top: 73px;
  margin: 0 auto 54px;
  position: relative;
}

.cadillac__dot {
  position: absolute;
  width: 32px;
  height: 32px;
  background: #ecb84c;
  border-radius: 50%;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.cadillac__dot-oval {
  margin: 11px;
  width: 10px;
  height: 10px;
  background: #ffd600;
  border-radius: 50%;
}

.cadillac__dot--1 {
  top: 190px;
  left: 148px;
}

.cadillac__dot--2 {
  top: 188px;
  left: 495px;
}

.cadillac__dot--3 {
  top: 147px;
  right: 372px;
}

.cadillac__dot--4 {
  bottom: 28px;
  right: 299px;
}

.cadillac__img {
  margin-bottom: auto;
}

.cadillac__text {
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

.photo__title {
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #4e5665;
  margin-bottom: 42px;
}
.photo__text {
  font-size: 16px;
  line-height: 28px;
  color: #505050;
  margin-bottom: 105px;
  position: relative;
}

.photo__text::after {
  content: "";
  width: 270px;
  height: 1px;
  background: rgba(208, 212, 216, 0.5);
  mix-blend-mode: normal;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -48px;
}

.photo__slider {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 80px;
  /* filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3)); */
}

.slick-arrow {
  border: none;
  width: 40px;
  height: 40px;
  background-color: #ecb84c;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

.slick-prev {
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-next {
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.footer {
  background-color: #f8f8f8;
  padding: 55px 0 32px;
  border-top: 1px solid rgba(208, 212, 216, 0.5);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer__item {
  list-style: none;
}
.footer__item-title {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #4e5665;
  margin-bottom: 20px;
}
.footer__item-link {
  font-size: 14px;
  line-height: 19px;
  color: #505050;
  margin-bottom: 8px;
}

.footer__item-link--1,
.footer__item-link--2,
.footer__item-link--3,
.footer__item-link--4,
.footer__item-link--5 {
  padding-left: 30px;
  position: relative;
}

.footer__item-link--1::before,
.footer__item-link--2::before,
.footer__item-link--3::before,
.footer__item-link--4::before,
.footer__item-link--5::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.footer__item-link--1::before {
  width: 17px;
  background-image: url(../images/link-1.svg);
}

.footer__item-link--2::before {
  background-image: url(../images/link-2.svg);
}

.footer__item-link--3::before {
  background-image: url(../images/link-3.svg);
}

.footer__item-link--4::before {
  background-image: url(../images/link-4.svg);
}

.footer__item-link--5::before {
  height: 13px;
  background-image: url(../images/link-5.svg);
}

.footer__copy {
  font-size: 14px;
  line-height: 19px;
  color: #505050;
  text-align: center;
}
